---
layout: default
---


<article class="posts">
  
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  

  <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
  </script>
  <!-- pv的方式，单个用户连续点击n篇文章，记录n次访问量 -->
  <span id="busuanzi_container_site_pv">
    本站总访问量<span id="busuanzi_value_site_pv"></span>次
  </span>
  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
  {% include gitalk.html %}
</article>

<div class="pagination">
  {% if page.previous.url %}
    <span class="prev" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
        ← 上一篇
      </a>
    </span>
  {% endif %}
  {% if page.next.url %}
    <span class="next" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
        下一篇 →
      </a>
    </span>
  {% endif %}
</div>